.intro-comp{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro-title{
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.intro-author{
  font-size: 18px;
  color: #c4c4c4;
  margin-bottom: 76px;
  letter-spacing: 6px;
}
.intro-seperate{
  margin: 0 28px;
  color: #666;
}
.intro-button{
  display: inline-block;
  width: 200px;
  height: 44px;
  line-height: 44px;
  background-color: transparent;
  border: 1px solid #666;
  color: #fff;
  font-size: 18px;
  letter-spacing: 12px;
}
.intro-button + .intro-button{
  margin-left: 52px;
}
.intro-icon{
  margin-right: 32px;
}